@model Ginasio.Models.Fotografias

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fotografias</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="NomeFicheiro" class="control-label"></label>
                <input asp-for="NomeFicheiro" class="form-control" />
                <span asp-validation-for="NomeFicheiro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PraticanteFK" class="control-label"></label>
                <select asp-for="PraticanteFK" class="form-control" asp-items="ViewBag.PraticanteFK"></select>
                <span asp-validation-for="PraticanteFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstrutorFK" class="control-label"></label>
                <select asp-for="InstrutorFK" class="form-control" asp-items="ViewBag.InstrutorFK"></select>
                <span asp-validation-for="InstrutorFK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
